*.o
*.d
*.jlink
*.bin
*.lst
*.map
*.size
*.wav
*.tfrecord
*.flac
*.zip
*.tar.gz
*.tgz
*.trn
*.txt
*.lm
*.pyc
*.pk
evb/build/
wavs/
python/models_trained/
nnsp/python/data/*tfrecords*.csv
evb/src/weights
python/fix.py
python/mel_org.py
python/wavewrite_example.py
